@import '~antd/dist/antd.css';
.grow{
  flex-grow: 1;
}
#navbar-root{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #252525;
  z-index: 3;
  box-shadow: none;
}

.navbar-item-wrapper{
  padding: 10px;
}
.navbar-item-wrapper .navbar-item{
  font-size: 0.9rem;
  color: #fff;
  transition: 0.7s;
  text-transform: capitalize;
  font-weight: 400;
  padding:10px;
  display: block;
}
.navbar-item:hover{
  color: #00bcd4;
  transition: 0.7s;
}

@media(max-width:815px){
  .header-bar{
align-self: center;
  }
}
.section-desktop {
  display:flex;
}
/* MOBILEBAR */

#mobilebar{
  padding: 0 7px 6px 17px;
  margin-top: 60px;
  top: 0;
  display: none;
  position: fixed;
  width: 100%;
  background: grey;
}
.mobile-item-wrapper{
  padding: 7px;
}
.mobile-item-wrapper .mobile-item{
  font-size: 0.8rem;
  color: #fff;
  transition: 0.7s;
  text-transform: capitalize;
  font-weight: 400;
  padding:4px;
  display: block;
}
.mobile-item-wrapper .MuiIconButton-root{
  padding: 0 2px;
}
.mobile-item:hover{
  color: #00bcd4;
  transition: 0.7s;
}
@media (min-width: 600px){
  #navbar-root .MuiToolbar-gutters {
    padding-left:45px;
    padding-right: 45px;
  }
  #mobilebar{
    padding:0;    
  }
}
@media (max-width: 815px){
  .section-desktop {
    display:none;
  }
  #mobilebar{
    display:block;
  }
}
@media(max-width:450px){
  #logo{
    display: none;
  }
}
@media (min-width: 0px) and (orientation: landscape){
  #navbar-root .MuiToolbar-regular{
    min-height: 64px;
  }
}