


.package-page-wrapper{
    margin-top: 60px;
    background-color: #fafafa;
}
@media(max-width:815px){
    .package-page-wrapper{
        margin-top: 120px;
        background-color: #fafafa;
    }
}
.package-wrapper{
    margin: 0;
    background-color: #fafafa;
}
.package-page-wrapper .ant-row{
    margin-right: 0;
}
.package-wrapper .package-quantity{
    height: 40px;
}

.package-wrapper .package-details-wrapper{
    padding-top: 0;
    background: #fff;
    height: 100vh;
    box-shadow: -6px 4px 20px 0 rgba(0,0,0,.05);
}
.package-wrapper .package-details-wrapper .package-details{
    padding:20px;
    margin-top:20px;
    margin-bottom: 0;
    background-color: #fafafa;
}
.package-page-wrapper .package-small-wrapper{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}
.package-page-wrapper .package-big-wrapper{
    position: relative;
}
.package-wrapper .package-header{
    font-size: 2.5rem;
    padding-bottom: 10px;
    font-weight: 500;
    margin-bottom: 0;
}
.package-wrapper .package-message{
    color: #252525;
    opacity: 0.6;
    font-size: 1rem;
}

.package-page-wrapper .package-big-wrapper .package-big{
    background: #fafafa;
    height: calc(100% - 60px);
    padding: 20px;
    position: relative; 
    right: 0;
}
.header-container{
    position: fixed;
    max-width: 40vw;
}
@media(min-width:767px) and (max-width:909px){
    // .package-page-wrapper .package-big-wrapper .package-big{
    //     width: 360px;
    //     }
    .header-container{
        max-width: 45vw;
    }
}
// @media(min-width:910px)and (max-width:991px){
//     .package-page-wrapper .package-big-wrapper .package-big{
//         width: 420px;
//         }
// }
// @media(min-width:992px)and (max-width:1056px){
//     .package-page-wrapper .package-big-wrapper .package-big{
//         width: 550px;
//         }
// }
// @media(min-width:1057px)and (max-width:1300px){
//     .package-page-wrapper .package-big-wrapper .package-big{
//         width: 620px;
//         }
// }
.package-page-wrapper .package-wrapper .cart-details-wrapper{
    background: #fff;
    height: 100%;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}
.package-page-wrapper .package-wrapper .cart-details{
    max-height: 800px;
}
.package-page-wrapper .package-price,.package-page-wrapper .package-date{
    margin-top: 0;
    margin-bottom: 1em;
    color: #707070;
    font-size: 1rem;
}
.package-page-wrapper .package-big .package-button-row{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    left: 0;
}

.package-page-wrapper .package-big .package-button-row .package-cancel-button{
    width: 100%;
    height: 50px;
    background-color: #252525;
    color:#ffc107;
    font-size: 1rem;
}
.package-page-wrapper .package-big .package-button-row .package-call-button{
    background-color: #00bcd4;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    height: 50px;
    width: 200px;
    border: none;
}
.package-page-wrapper .package-big .package-button-row .package-call-button .package-call-icon{
margin:2px 10px;
margin-left: 0;
}
.package-page-wrapper label{
    padding: 10px 5px;
    color: #707070;
    font-weight: normal;
    font-size: 1.3em;
}
// CAROUSEL
.package-details-wrapper .custom-carousel{
    position: relative;
    height: 100%;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 30px;
    max-width: 600px;
}
.package-details-wrapper .carousel.carousel-slider{
    border-radius: 7px;
}
.package-details-wrapper .custom-carousel .carousel{
    position: unset;
}
.package-details-wrapper .thumbs-wrapper{
    position: absolute;
    top:-20px;
    left:-75px;
}
.package-details-wrapper .carousel .thumbs{
    padding-left: 0;
    transform: none !important;
}
.package-details-wrapper .control-arrow{
    display: none;
}
.package-details-wrapper .thumbs .thumb{
 margin-bottom: 10px;
 display: block;
 width: 40px;
 border-radius: 7px;
 padding: 0;
 border:3px solid #fafafa;
}
.package-details-wrapper .thumbs .thumb:hover{
    border: 3px solid #ffc107;
    
}
.package-details-wrapper .thumbs .thumb.selected{
    border: 3px solid #00bcd4;
}
// CARD
.package-page-wrapper .item-total-price{
    color:#00bcd4;
    font-weight: 600;
    font-size:1.2rem;
}
.package-page-wrapper .MuiPaper-elevation1{
    box-shadow: none;
}
.package-page-wrapper .ant-radio-wrapper:hover .ant-radio,
.package-page-wrapper .ant-radio:hover .ant-radio-inner,
.package-page-wrapper .ant-radio-input:focus + .ant-radio-inner{
    border-color: #ffc107;    
}
.package-page-wrapper .package-small-wrapper{
    display: none;
}
@media(max-width:767px){
    .package-wrapper{
    margin: 0 10px 20px 10px;
    }
    .package-wrapper .package-details-wrapper{
        height: 100%;
    }
    .header-container{
        position: relative;
        max-width: 100%;
    }

.package-wrapper .package-header{
font-size: 2rem;
}
    .package-page-wrapper .package-big-wrapper{
        position: relative;
        display: none;
    }
    .package-page-wrapper .package-small-wrapper{
        display: block;
        margin-bottom: 20px;
        
    }
    .package-page-wrapper .package-small-wrapper .package-button-row{
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: #252525;
        right: 0;
        padding: 10px 20px;
        z-index: 2;
    }
}
@media(max-width:319px){
    .package-page-wrapper .package-small-wrapper{
        padding: 5px;
    }
}

// STEPPERS
@media(max-width:432px){
    .package-page-wrapper .ant-steps.ant-steps-horizontal.ant-steps-label-vertical.ant-steps-dot{
        display: none;
    }
}
// Tabs
.package-page-wrapper .ant-tabs-card-bar .ant-tabs-nav-scroll{
    background: #707070;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
}
.package-page-wrapper .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    color: #fff;
    background: #707070;
}
.package-page-wrapper .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
    color: #252525;
    background: #fff;
    border-bottom:none;
}
.package-page-wrapper .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    border-radius: 0;
    border:none;
}


.package-page-wrapper .ant-tabs-bar{
    margin:0;
}
.package-wrapper .package-details-wrapper .package-details .ant-tabs .ant-tabs-top-content{
    padding: 10px;
}
.package-details .ant-tabs-nav .ant-tabs-tab-active{
    color:#00bcd4;
}
.package-details .ant-tabs .ant-tabs-ink-bar{
    background-color:#00bcd4;
}
.package-details .ant-tabs-nav .ant-tabs-tab:hover{
    color:#00bcd4;    
}

.package-details .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    padding: 0 10px;
    font-size: 1.2rem;
}
@media(max-width:420px){
.package-details .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
    font-size: 1rem;
    }    
}